* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #ffffff;
    --second-bg-color: #dedfe4;
    --main-color: #fd0e0e;
    --second-color: #818796;
    --text-color: #000;
    --big-font: 3rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px; 
}
span {
    color: var(--main-color);
}
.navlist {
    display: flex;
}
.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover {
    color: var(--main-color);
}
.navlist a.active {
    color: var(--main-color);
}
.menu-icon {
    width: 30px;
    height: 30px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 15px;
    display: none;
}
section {
    padding: 160px 15% 120px;
}
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.btn {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    background: var(--second-bg-color);
    color: var(--second-color);
    border: none;
}
.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 8px;
}
.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}